.book-list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
.book-list-item > * {
  margin-right: 10px;
}

.book-action > *:not(:last-of-type) {
  margin-right: 5px;
}

.book-cover img {
  height: 150px;
}

