@keyframes ldio-78eqp591y3u-1 {
    0% { top: 50px; height: 90px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
}
@keyframes ldio-78eqp591y3u-2 {
    0% { top: 30px; height: 110px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
}
@keyframes ldio-78eqp591y3u-3 {
    0% { top: 40px; height: 100px }
    50% { top: 60px; height: 80px }
    100% { top: 60px; height: 80px }
}
.ldio-78eqp591y3u div { position: absolute; width: 30px }
.ldio-78eqp591y3u div:nth-child(1) {
    left: 30px;
    background: #85a2b6;
    animation: ldio-78eqp591y3u-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: 1s
}
.ldio-78eqp591y3u div:nth-child(2) {
    left: 62px;
    background: #bbcedd;
    animation: ldio-78eqp591y3u-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: 0s
}
.ldio-78eqp591y3u div:nth-child(3) {
    left: 94px;
    background: #dce4eb;
    animation: ldio-78eqp591y3u-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: 2s;
}
.ldio-78eqp591y3u div:nth-child(4) {
    left: 126px;
    background: #d69293;
    animation: ldio-78eqp591y3u-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: 0s
}
.ldio-78eqp591y3u div:nth-child(5) {
    left: 158px;
    background: #be5960;
    animation: ldio-78eqp591y3u-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
    animation-delay: 1s;
}

.loadingio-spinner-pulse-xln77mcxaee {
    width: 224px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    background: #f1f2f3;
}
.ldio-78eqp591y3u {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0;
}
.ldio-78eqp591y3u div { box-sizing: content-box; }
